﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Help_Player.aspx.vb" Inherits="Help_Player" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <form id="frmMain" runat="server">
        <div>
            <asp:Label ID="lblHelp" runat="server" >

            </asp:Label>
        </div>
    </form>
</body>
</html>
