﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Site.master" AutoEventWireup="false" CodeFile="Tutor_MailingList.aspx.vb" Inherits="Tutor_Tutor_MailingList" %>

<asp:Content ID="cntMail" ContentPlaceHolderID="MainContent" runat="Server">
    <asp:UpdatePanel ID="pnlMainUpdate" runat="server" UpdateMode="Conditional">
        <ContentTemplate>
            <h2>
                <asp:Label ID="lblWelcome" runat="server" Text="Tutor administration"></asp:Label>
            </h2>

            <div class="clr"></div>

            <h3>
                <asp:Label ID="lblMailingList" runat="server" Text="Mailing list"></asp:Label>
            </h3>

            <div class="row">

            </div>
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>

