﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Site.master" AutoEventWireup="false" CodeFile="Tutor_TeamsDecisionsSettings.aspx.vb" Inherits="Tutor_Tutor_TeamsDecisionsSettings" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
</asp:Content>

