﻿@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #959595;
    font: normal 12px/1.8em Arial, Helvetica, sans-serif;
}

    body a {
        margin: 0;
        padding: 0;
        width: 100%;
        color: #959595;
        font: normal 12px/1.8em Arial, Helvetica, sans-serif;
    }

html, .main {
    padding: 0;
    margin: 0;
}

.main {
    background: #a7d8f5 url(images/header_bg.jpg) no-repeat center top;
}

.mainChart {
    background: #ffffff url(images/header_bg.jpg) no-repeat center top;
    width: 100px;
    height: 700px;
}

.clr {
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    line-height: 0;
}

.logo {
    padding: 0;
    float: left;
    width: auto;
}

h1 {
    margin: 0;
    padding: 12px 0 20px 40px;
    float: left;
    color: #fff;
    font: normal 48px/1.2em Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

    h1 a, h1 a:hover {
        color: #fff;
        text-decoration: none;
    }

h2 {
    font: normal 24px/1.5em Arial, Helvetica, sans-serif;
    padding: 8px 0;
    margin: 0 0 8px;
    color: #323a3f;
}

p {
    margin: 8px 0;
    padding: 0 0 8px 0;
    font: normal 12px/1.8em Arial, Helvetica, sans-serif;
}

a {
    color: #6ec1f3;
    text-decoration: underline;
}

p.spec {
}

p.infopost {
    line-height: 30px;
}

a.rm {
}

a.com {
    margin: 0 8px 0 0;
    padding: 0 12px;
    line-height: 26px;
    float: left;
    text-decoration: none;
    color: #fff;
    background-color: #6ec1f3;
}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
    margin: 0;
    padding: 0;
}

.header {
}

.header_resize {
    margin: 0 auto;
    padding: 0;
    width: 970px;
}

.menu_nav {
    margin: 0;
    padding: 0 28px;
    height: 41px;
    background-color: #fff;
}

    .menu_nav ul {
        list-style: none;
        height: 41px;
    }

        .menu_nav ul li {
            margin: 0 12px 0 0;
            padding: 0;
            float: left;
        }

            .menu_nav ul li a {
                display: block;
                margin: 0;
                padding: 9px 12px;
                color: #959595;
                text-decoration: none;
                font-size: 12px;
            }

                .menu_nav ul li.active a, .menu_nav ul li a:hover {
                    color: #6ec1f3;
                    text-decoration: underline;
                }


.content {
    padding-top: 14px;
}

.content_resize {
    margin: 0 auto;
    padding: 16px 0 24px;
    width: 970px;
    background-color: #fff;
}

.content .mainbar {
    margin: 0;
    padding: 0;
    float: left;
    width: 682px;
}

    .content .mainbar img {
        border: 1px solid #d8dbdc;
        padding: 4px;
    }

        .content .mainbar img.fl {
            margin: 4px 16px 4px 0;
            float: left;
        }

    .content .mainbar .article {
        margin: 0 0 12px;
        padding: 8px 24px 0 40px;
    }

.content .sidebar {
    padding: 0;
    float: right;
    width: 238px;
}

    .content .sidebar .gadget {
        margin: 0 0 12px;
        padding: 8px 16px 8px 24px;
    }

ul.sb_menu, ul.ex_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #959595;
}

    ul.sb_menu li, ul.ex_menu li {
        margin: 0;
    }

    ul.sb_menu li {
        padding: 4px 0;
        width: 220px;
    }

    ul.ex_menu li {
        padding: 4px 0;
    }

        ul.sb_menu li a, ul.ex_menu li a {
            color: #959595;
            text-decoration: none;
            margin-left: -12px;
            padding-left: 12px;
        }

            ul.sb_menu li a:hover, ul.ex_menu li a:hover {
                color: #6ec1f3;
                font-weight: bold;
            }

            ul.sb_menu li a:hover {
                text-decoration: underline;
            }

            ul.ex_menu li a:hover {
                text-decoration: none;
            }

.content p.pages {
    padding: 32px 24px 12px 40px;
    font-size: 11px;
    color: #959595;
    text-align: right;
}

    .content p.pages span, .content p.pages a:hover {
        padding: 5px 10px;
        color: #fff;
        background-color: #6ec1f3;
        border: 1px solid #6ec1f3;
    }

    .content p.pages a {
        padding: 5px 10px;
        color: #959595;
        background-color: #fff;
        border: 1px solid #edebeb;
        text-decoration: none;
    }

    .content p.pages small {
        font-size: 11px;
        float: left;
    }

.content .mainbar .comment {
    margin: 0;
    padding: 16px 0 0 0;
}

    .content .mainbar .comment img.userpic {
        border: 1px solid #dedede;
        margin: 10px 16px 0 0;
        padding: 0;
        float: left;
    }

.fbg {
    padding-top: 14px;
}

.fbg_resize {
    margin: 0 auto;
    width: 890px;
    padding: 24px 40px;
    color: #959595;
    background-color: #fff;
}

.fbg .c2 a, .fbg .c3 a {
    margin: 0;
    padding: 2px 4px;
}

.fbg h2 {
}

.fbg img {
    margin: 0 16px 16px 0;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #99bece;
}

.fbg .col {
    margin: 0;
    float: left;
}

.fbg .c1 {
    padding: 0 16px 0 0;
    width: 266px;
}

.fbg .c2 {
    padding: 0 16px;
    width: 300px;
}

.fbg .c3 {
    padding: 0 0 0 16px;
    width: 260px;
}

.footer {
}

.footer_resize {
    margin: 0 auto;
    padding: 20px 40px 24px;
    width: 890px;
    background-color: #fff;
    border-top: 1px solid #6ec1f3;
}

.footer p {
    margin: 0;
    padding: 4px 0;
    line-height: normal;
}

.footer a {
    color: #959595;
    padding: inherit;
    text-decoration: underline;
}

    .footer a:hover {
        text-decoration: none;
    }

.footer .lf {
    float: left;
}

.footer .rf {
    float: right;
}

ol {
    list-style: none;
}

    ol li {
        display: block;
        clear: both;
    }

        ol li label {
            display: block;
            margin: 0;
            padding: 16px 0 0 0;
        }

        ol li input.text {
            width: 480px;
            border: 1px solid #c0c0c0;
            margin: 2px 0;
            padding: 5px 2px;
            height: 16px;
            background-color: #fff;
        }

        ol li textarea {
            width: 480px;
            border: 1px solid #c0c0c0;
            margin: 2px 0;
            padding: 2px;
            background-color: #fff;
        }

        ol li .send {
            margin: 16px 0 0 0;
        }

.searchform {
    float: right;
}

#formsearch {
    margin: 0;
    height: 27px;
    padding: 7px 0 0;
}

    #formsearch span {
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        background: #fff url(images/search.gif) no-repeat top left;
    }

    #formsearch input.editbox_search {
        margin: 0;
        padding: 6px;
        float: left;
        width: 196px;
        border: none;
        background: none;
        font: normal 12px/1.1em Arial, Helvetica, sans-serif;
        color: #a8acb2;
    }

    #formsearch input.button_search {
        margin: 0;
        padding: 0;
        border: none;
        float: left;
    }

/* Button with rounded corners and shadows */
.RadButton.rbButton.btnShadows {
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #666;
    vertical-align: middle;
    margin-left: 3px;
}

.RadButton.rbButton.css3Shadows:hover {
    border: 0;
    box-shadow: 1px 2px 5px #999;
}

/*BACKGROUND della pagina DEFAULT*/
.defBackground {
    min-height: 450px;
    min-width: 300px;
    background: url(../Images/Man_Medium.png) no-repeat;
    background-color: transparent;
}

/* TABELLA HTML */
table {
    width: 682px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

    table:first-child td:first-child {
        width: 215px;
    }

    table.tableAllow {
        width: 450px;
    }

        table.tableAllow:first-child td:first-child {
            width: 170px;
            font-size: 8pt;
            text-align: left;
        }

    table.tableFlowchart {
        width: 200px;
    }

        table.tableFlowchart th {
            background-color: #55A2DF;
            color: white;
            font-weight: bold;
            padding: 1px;
            border: 0.5px solid #ccc;
            text-align: center;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

        table.tableFlowchart td {
            padding: 1px;
        }


/* Zebra striping */
tr:nth-of-type(odd) {
    background: #ffffff;
}

tr:nth-of-type(even) {
    background: #ffffff;
}

th {
    background: #55A2DF;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

table.tableAllow th {
    font-size: 8pt;
    padding: 1px;
}

table.tableMarketRetail th:first-child {
    background-color: #ffffff;
}

td {
    padding: 3px;
}

    table.tableMarketRetail tr:first-child, td:first-child {
        font-weight: bold;
        text-align: left;
        border-bottom: 2px;
    }

table.tableAllow td {
    padding: 1px;
    text-align: right;
    padding-right: 2px;
}

table.tableMarketRetail td:nth-child(2) {
    text-align: right;
    padding-right: 10px;
}

table.tableMarketRetail td:nth-child(3) {
    text-align: right;
    padding-right: 10px;
}

table.tableMarketRetail td:nth-child(4) {
    text-align: right;
    padding-right: 10px;
}

table.tableMarketRetail tr:nth-last-child(-n+3) {
    color: darkorange;
}

    table.tableMarketRetail tr:nth-last-child(-n+3) a {
        color: darkorange;
    }

table.tableMarketRetail tr:nth-last-child(-n+2) {
    color: darkred;
}

    table.tableMarketRetail tr:nth-last-child(-n+2) a {
        color: darkred;
    }

table.tableMarketRetail tr:nth-last-child(-n+1) {
    color: darkblue;
}

    table.tableMarketRetail tr:nth-last-child(-n+1) a {
        color: darkblue;
    }

/* TABELLA SALES DISTRIBUTION */
table.tableDistributionSales th:first-child {
    background-color: #ffffff;
}


table.tableDistributionSales td:first-child {
    font-weight: bold;
    text-align: left;
    border-bottom: 2px;
}

table.tableDistributionSales td {
    text-align: right;
}

table.tableDistributionSales tr:nth-last-child(-n+1) {
    color: darkorange;
}

/* TABELLA DISTRIBUTION/PROMOTIONS */
table.tableDistributionPrmotions th:first-child {
    background-color: #ffffff;
}

table.tableDistributionPrmotions td:first-child {
    text-align: left;
    border-bottom: 2px;
}

table.tableDistributionPrmotions td {
    text-align: right;
}

/*table.tableDistributionPrmotions tr:nth-last-child(-n+1) {
    color: darkorange;
}*/

/* TABELLA SALES RETAIL */
table.tableDistributionSalesRetail th:first-child {
    background-color: transparent;
    color: #525252;
}

table.tableDistributionSalesRetail td:first-child {
    font-weight: bold;
    text-align: left;
    border-bottom: 2px;
}

table.tableDistributionSalesRetail td {
    text-align: right;
}

table.tableDistributionSalesRetail tr:nth-last-child(-n+1) {
    color: darkred;
}


/* TABELLA ALLA DESTRA DEL GRAFICO, la prima e unica della lista */
table.tableGraph {
    width: 100%;
    vertical-align: top;
    max-height: 150px;
    overflow-y: scroll;
}

    table.tableGraph th {
        padding: 0;
    }

    table.tableGraph tr:first-child, td:first-child {
        font-weight: bold;
        text-align: left;
        border-bottom: 2px;
        padding: 0;
        max-height: 20px;
        overflow: hidden;
    }

    table.tableGraph:first-child td:first-child {
        font-size: 8.0pt;
        text-align: left;
    }

    table.tableGraph td:nth-last-child(-n+1) {
        padding: 1px;
        text-align: right;
        padding-right: 2px;
        font-size: 8pt;
        max-height: 20px;
        overflow: hidden;
    }


/* TABELLA ALLA DESTRA DEL GRAFICO, la prima della lista */
table.tableGraphFirst {
    width: 100%;
    vertical-align: top;
}

    table.tableGraphFirst th {
        padding: 0;
    }

    table.tableGraphFirst tr:first-child, td:first-child {
        font-weight: bold;
        text-align: left;
        border-bottom: 2px;
        padding: 0;
    }

    table.tableGraphFirst:first-child td:first-child {
        font-size: 8.0pt;
        text-align: left;
    }

    table.tableGraphFirst td:nth-last-child(-n+1) {
        padding: 1px;
        text-align: right;
        padding-right: 2px;
        font-size: 8pt;
    }

    table.tableGraphFirst tr:nth-last-child(-n+2) {
        color: darkorange;
    }


/* TABELLA ALLA DESTRA DEL GRAFICO, la seconda della lista */
table.tableGraphSecond {
    width: 100%;
    vertical-align: top;
}

    table.tableGraphSecond th {
        padding: 0;
    }

    table.tableGraphSecond tr:first-child, td:first-child {
        font-weight: bold;
        text-align: left;
        border-bottom: 2px;
        padding: 0;
    }

    table.tableGraphSecond:first-child td:first-child {
        font-size: 8.0pt;
        text-align: left;
    }

    table.tableGraphSecond td:nth-last-child(-n+1) {
        padding: 1px;
        text-align: right;
        padding-right: 2px;
        font-size: 8pt;
    }

    table.tableGraphSecond tr:nth-last-child(-n+2) {
        color: forestgreen;
    }

/* TABELLA DELLE DECISIONI DEL BOSS */
table.DecisionsBoss {
    width: 682px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.DecisionsBoss tr:nth-of-type(odd) {
    background: #ffffff;
}

.DecisionsBoss tr:nth-of-type(even) {
    background: #ffffff;
}

.DecisionsBoss th {
    background: #55A2DF;
    color: white;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 10px;
}

.DecisionsBoss tr {
    background: #7CBBEB;
    color: white;
    font-weight: bold;
    padding: 4px;
    text-align: left;
    margin-top: 8px;
}

.DecisionsBoss td {
    border-bottom: 1px solid #ccc;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
}

/* GESTIONE DEL PANNELLO MODALE PER L'INSERIMENTO DEI DATI */
.modalBackground {
    background-color: dimgray;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.modalPopup {
    background-color: #FFFFFF;
    width: 500px;
    border: 1px solid #55A2DF;
    border-radius: 10px;
    padding: 0;
}

    .modalPopup.Translations {
        background-color: #FFFFFF;
        width: 650px;
        border: 1px solid #55A2DF;
        border-radius: 10px;
        padding: 0;
    }

    .modalPopup .pnlheader {
        background-color: #55A2DF;
        height: 30px;
        color: White;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .modalPopup .pnlbody {
        min-height: 50px;
        line-height: 30px;
    }

    .modalPopup .pnlfooter {
        padding: 6px;
        text-align: center;
    }

    .modalPopup .yes, .modalPopup .no {
        height: 23px;
        color: White;
        line-height: 23px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        border-radius: 4px;
    }

    .modalPopup .yes {
        background-color: #2FBDF1;
        border: 1px solid #0DA9D0;
    }

    .modalPopup .no {
        background-color: #9F9F9F;
        border: 1px solid #5C5C5C;
    }

/* GESTIONE DIV A TABELLA */
.divTable {
    display: table;
    width: 682px;
}

.divTableRow {
    width: 100%;
    display: table-row;
}

.divTableHeading {
    background-color: #FFF;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
    padding: 3px 10px;
    vertical-align: middle;
}

.divTableCellLeft, .divTableHeadLeft {
    display: table-cell;
    padding: 3px 10px;
    float: none;
    width: 0 auto;
    overflow: hidden;
}

.divTableCellRight, .divTableHeadRight {
    width: 180px;
    float: right;
}

.divTableCellGraph {
    display: table-cell;
}

.divTableCellGraphData {
    display: table-cell;
    display: inline-block;
}

.divTableCell .RadInput {
    /*width: 60% !important;*/
    width: 60%;
}

    .divTableCell .RadInput .riLabel {
        width: 40% !important;
    }

.divTableCell .RadComboBox_MyDefault .rcbInputCell INPUT.rcbInput {
    width: 60% !important;
}

.divTableCell span.RadInput .riContentWrapper,
.divTableCell span.riContButton.riContSpinButtons .riContentWrapper {
    width: 100% !important;
    padding-right: 0;
}


.divTableHeading {
    background-color: #FFF;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #FFF;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

/* PROGRESS BAR */

#UpdateProgress1 {
    width: 200px;
    background-color: #FFC080;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.overlay {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    filter: Alpha(Opacity=70);
    opacity: 0.70;
}

* html .overlay {
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    width: expression(document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth + 'px');
}

.loader {
    z-index: 100;
    position: fixed;
    width: 120px;
    margin-left: -60px;
    top: 50%;
    left: 50%;
}

* html .loader {
    position: absolute;
    margin-top: expression((document.body.scrollHeight / 4) + (0 - parseInt(this.offsetParent.clientHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)) + 'px');
}

table.tableRanking {
    table-layout: fixed;
    width: 95%;
    margin-top: 20px;
    border-collapse: collapse;
    margin: 0 auto;
}

.tableRanking td {
    text-align: right;
}

    .tableRanking td:first-child {
        text-align: left;
    }
