﻿.tableDecisions {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid #ffffff;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

    .tableDecisions table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .tableDecisions tr:last-child td:last-child {
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .tableDecisions table tr:first-child td:first-child {
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .tableDecisions table tr:first-child td:last-child {
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    .tableDecisions tr:last-child td:first-child {
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .tableDecisions tr:hover td {
        background-color: #AED7F6;
    }

    .tableDecisions td {
        vertical-align: middle;
        background-color: #AED7F6; /*Colore di sfondo delle righe*/
        border: 1px solid #ffffff;
        border-width: 0px 1px 1px 0px;
        text-align: left;
        padding: 7px;
        font-size: 12px;
        font-family: Verdana;
        font-weight: normal;
        color: #000; /*Testo delle righe*/
    }

    .tableDecisions tr:last-child td {
        border-width: 0px 1px 0px 0px;
    }

    .tableDecisions tr td:last-child {
        border-width: 0px 0px 1px 0px;
    }

    .tableDecisions tr:last-child td:last-child {
        border-width: 0px 0px 0px 0px;
    }

    .tableDecisions tr:first-child td {
        background: -o-linear-gradient(bottom, #55A2DF 5%, #55A2DF 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #55A2DF), color-stop(1, #55A2DF) );
        background: -moz-linear-gradient( center top, #55A2DF 5%, #55A2DF 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#55A2DF", endColorstr="#55A2DF");
        background: -o-linear-gradient(top,#55A2DF,55A2DF);
        background-color: #55A2DF;
        border: 0px solid #ffffff;
        text-align: center;
        border-width: 0px 0px 1px 1px;
        font-size: 14px;
        font-family: Verdana;
        font-weight: bold;
        color: #fff;
    }

    .tableDecisions tr:first-child:hover td {
        background: -o-linear-gradient(bottom, #55A2DF 5%, #55A2DF 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #55A2DF), color-stop(1, #55A2DF) );
        background: -moz-linear-gradient( center top, #55A2DF 5%, #55A2DF 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#55A2DF", endColorstr="#55A2DF");
        background: -o-linear-gradient(top,#55A2DF,55A2DF);
        background-color: #55A2DF;
    }

    .tableDecisions tr:first-child td:first-child {
        border-width: 0px 0px 1px 0px;
    }

    .tableDecisions tr:first-child td:last-child {
        border-width: 0px 0px 1px 1px;
    }
